body {
    font-size: 16px;
    color: #fff;
    background-color: #6FB2D2;
    font-family: 'Oxygen', sans-serif;
}

#headerNav {
    background-color: #EBD671;
    border-radius: 0;
    border: 0;
    padding-bottom: 0;
}

.navbar-brand a:focus, .navbar-brand a:hover {
    text-decoration: none;
}

.card {
    margin: 32px 0;
}

.card-body {
    background-color: #85C88A;
}

#navMainContainer {
    padding: 0px;
}

#navHeaderTopRow {
    width: 100%;
    padding: 8px 16px;
}

#navbarNav {
    width: 100%;
    background-color: #C74B50;
}

#toggleButton {
    float: right;
}

#contentTitle {
    padding: 32px 0;
}

.nav-item {
    border-bottom: 2px solid #712B75;
}

.nav-item:focus {   
    background-color: #712B75;
}