body {
    font-size: 16px;
    color: #fff;
    background-color: #6FB2D2;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #EBD671;
    border-radius: 0;
    border: 0;
}

.navbar-brand a:focus, .navbar-brand a:hover {
    text-decoration: none;
}

.navbar-toggler-icon {
    color: black;
}

.card-body {
    background-color: #85C88A;
}